<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>glavni posao</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>7. 1903 6 25</h1>
  <img src="static/primeira morada.jpg" width="550">
  
  <!-- não o curioso -->
  <form method="POST">
    <label for="resposta">Insira sua resposta:</label>
    <input type="text" id="resposta" name="resposta" required>
    <button type="submit">Enviar</button>
  </form>

  {% if erro %}
    <p style="color: red;">Resposta incorreta! Tente novamente.</p>
  {% endif %}
</body>
</html>
