<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<style type="text/css">  
  h1{
    text-align: center;
    font-size: 50px;
  }
</style>
</head>
<body>
  <h1>
    Lá na cruz
    <br />
    Meu passado, minhas dores e aflições
    <br />
    Lá na cruz
    <br />
    Minha vitória, nova vida, nova história
    <br />
    <br />
    Sangue derramado
    <br />
    Preço que foi pago
    <br />
    Por amor a mim
    <br />
    Poderes ou
    <br />
    Palavras
    <br />
    Nada se compara
    <br />
    Ao grito que foi dado
    <br />
    Está consumado!
    <br />
    <br />
    Filho de Davi
    <br />
    Preciso de um milagre
    <br />
    Tem misericórdia de mim
    <br />
    Quebra as correntes
    <br />
    Cura minhas feridas
    <br />
    O grito já foi dado na cruz
    <br />
    <br />
    Filho de Davi
    <br />
    Eu preciso de um milagre
    <br />
    Tem misericórdia de mim
    <br />
    Quebra as correntes
    <br />
    Cura minha feridas
    <br />
    O grito já foi dado na cruz
    <br />
    <br />
    Lá na cruz
    <br />
    Meu passado
    <br />
    Minhas dores e aflições
    Lá na cruz
    <br />
    Minha vitória
    <br />
    Nova vida
    <br />
    Nova história
    <br />
    <br />
    Sangue derramado
    <br />
    Preço que foi pago
    <br />
    Por amor a mim
    <br />
    Poderes ou palavras
    <br />
    Nada se compara
    <br />
    Ao grito que foi dado
    <br />
    Está consumado
    <br />
    <br />
    Filho de Davi
    <br />
    Eu preciso de um milagre
    <br />
    Tem misericórdia de mim
    <br />
    Quebra as correntes
    <br />
    Cura minhas feridas
    <br />
    O grito já foi dado na cruz
    <br />
    <br />
    Filho de Davi
    <br />
    Eu preciso de um milagre
    <br />
    Tem misericórdia de mim
    <br />
    Quebra as correntes
    <br />
    Cura minhas feridas
    <br />
    <br />
    O grito já foi dado na cruz
    <br />
    O grito que ecoa em todas as gerações
    <br />
    Cura minhas feridas
    <br />
    Está consumado
    <br />
    Cura minhas feridas
    <br />
    O grito já foi dado
    <br />
    Está consumado
  </h1>  
</body>
</html>